main#chart-container {
	grid-area: main;
	height: 100%;
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

#chart-view {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

div.plot-container.plotly {
	height: 94% !important;
	width: 94% !important;
}

svg.main-svg {
	height: 100%;
	width: 100%;
	border-radius: 1rem;
}

g.slicetext {
	opacity: 0.8;
}

path.textline {
	display: none;
}

#error-container {
	position: absolute;
	left: 20%;
	width: 80%;
	height: 100%;
	background-color: var(--gray-dark);

	display: flex;
	justify-content: center;
	align-items: center;
}

.error-view {
	padding: 1rem;
	width: 75%;
	max-width: 36rem;

	border: 0.3rem solid red;
	border-radius: 1rem;
	background-color: #000;
	color: #fff;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;

	font-size: 1.4rem;
	transition: all 0.3s ease-in-out;
}

#error-container:not(.visible) {
	display: none;
}

#error-container.visible {
	display: inline-flex;
}

i.ph-x {
	color: red;
	font-size: 2.4rem;
}

@media (width <= 1000px) {
	main {
		width: 100vw;
		height: 100%;
	}

	#error-container {
		left: 0;
		width: 100%;
		height: 100vh;
	}

	#chart-view {
		height: 80%;
		place-self: start;
	}

	div.plot-container.plotly {
		height: 90% !important;
		width: 90% !important;
	}
}
